@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">

                <div class="form-container form-container-2">

                    <div class="form-btn">
                        <span>Error</span>
                    </div>

                    <div class="form-control form-control-2">
                        <h3>An error occurred while processing your request.</h3>                     
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>