@model IEnumerable<FlyBuy.Models.Product>
@{
    ViewBag.Title = "Male";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="backgound" id="background">

    <div class="small-container">

        <div class="row row-2">

            <h3>Male Category</h3>
        </div>

        <div class="row rowV2 rowv3" id="totalNumber">

            @foreach (var item in Model)
            {
                
               
            <div class="col-4 col-4V2">
                <img src="@Url.Content(item.Image)">
                <h4>@item.Name</h4>
                <div class="rating">
                    @for (int i = 0; i < item.Rating; i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                </div>
                <p>$@item.Price</p>
                <br />
                @Html.ActionLink("Order Now", "OrderNow", "ShoppingCart", new { @class = "btn-sort", id = item.Id }, null)
            </div>
                

            }

        </div>

        <div class="page-btn"></div>

    </div>

</div>
